/* 菜单栏 */

.menu {
    width: 1000px;
    height: 16px;
    padding: 20px 0;
    margin: 0 auto;
    border-bottom: 1px solid;
    border-color: rgb(232, 232, 232);
    font-size: 12px;
    margin-bottom: 20px;
}


/* 商品详情 */

article {
    width: 1000px;
    height: 511px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.article-left {
    width: 400px;
    height: 511px;
    position: relative;
}

.left-box {
    width: 398px;
    height: 398px;
    border: 1px solid rgb(237, 237, 237);
    margin-bottom: 15px;
}

.left-box img {
    width: 100%;
    height: 100%;
}

.center-box {
    width: 390px;
    height: 60px;
    margin: 0 5px;
    display: flex;
}

.items {
    width: 350px;
    height: 50px;
    overflow: hidden;
}

.items ul {
    width: 99999px;
    height: 60px;
    display: flex;
}

.items ul li {
    width: 58px;
    height: 58px;
    border: 1px solid rgb(237, 237, 237);
    margin-right: 10px;
}

.items ul li img {
    width: 100%;
    height: 100%;
}

.center-box .left,
.right {
    width: 15px;
    height: 60px;
    line-height: 60px;
    font-size: 20px;
}

.box-none {
    width: 398px;
    height: 398px;
    border: 1px solid rgb(237, 237, 237);
    position: absolute;
    top: 0;
    left: 400px;
    overflow: hidden;
    visibility: hidden;
    /* display: none; */
    z-index: 10;
}

.box-none img {
    width: 800px;
    height: 800px;
    position: absolute;
    top: 0;
    left: 0;
}

.left-box:hover .box-none {
    visibility: visible;
    /* display: block; */
}


/* 右边盒子 */

.atricle-right {
    width: 570px;
    height: 455px;
    background: white;
    display: flex;
    flex-direction: column;
}

.atricle-right img {
    width: 366px;
    height: 142px;
}

.atricle-right a {
    color: black;
    font-size: 12px;
    opacity: 0.8;
    width: 560px;
    height: 27px;
    padding-left: 10px;
    line-height: 27px;
}

.atricle-right h3 {
    font-size: 18px;
    height: 24px;
    line-height: 24px;
}

.atricle-right span {
    height: 16px;
    font-size: 12px;
    margin-bottom: 10px;
}

.price-box {
    height: 73px;
    width: 548px;
    padding: 15px 10px 10px;
    background: rgb(250, 250, 250);
    border: 1px solid rgb(232, 232, 232);
    margin-bottom: 20px;
}

.price,
.onsale {
    font-size: 12px;
    color: rgb(102, 102, 102);
}

.price span {
    font-size: 34px;
    color: red;
}

.onsale span {
    display: inline-block;
    background: red;
    color: white;
    padding: 0 8px;
}

.cart input {
    width: 50px;
    height: 30px;
    font-size: 20px;
    text-align: center;
}

.cart button {
    width: 80px;
    height: 34px;
    background: red;
    line-height: 34px;
    text-align: center;
    color: white;
    border: 2px solid red;
    margin-left: 20px;
}

.goodsnumber {
    display: flex;
    width: 80px;
}

.cart {
    display: flex;
}

.goodsnumber a {
    width: 20px;
    height: 34px;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    padding-left: 0;
}