 /* 中间商品列表 */
 
 .list {
     width: 1000px;
     display: flex;
     justify-content: space-around;
 }
 
 .today-right ul {
     position: relative;
 }
 /* 商品列表 */
 
 .list {
     width: 1000px;
     display: flex;
     margin: 0 auto;
 }
 
 .list ul li {
     width: 298px;
     height: 433px;
     padding: 10px;
     border: 1px solid lightblue;
     background: white;
     margin-top: 20px;
 }
 
 .list ul li:hover {
     border-color: red;
 }
 
 .list img {
     width: 298px;
     height: 298px;
 }
 
 .list ul {
     width: 1000px;
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
 }
 
 .list ul a {
     width: 100%;
     height: 100%;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     background: white;
 }
 
 .list .list-end {
     display: flex;
     align-items: center;
     justify-content: space-between;
 }
 
 .list ul a p {
     color: black;
 }
 
 .list .p1 {
     color: red;
     font-size: 12px;
 }
 
 .list .list-end h2 {
     color: black;
 }
 
 .list .list-end h2 span {
     color: #ccc;
     text-decoration: line-through;
     font-size: 12px;
 }
 
 .list .p2 {
     color: #ccc;
     font-size: 12px;
 }
 
 .list .p2 span {
     color: red;
 }